go 1.21.2

use ./2-variables

use ./3-userInput

use ./4-Conversions

use ./5-Math

use (
	./10-Maps
	./11-structs
	./12-Ifelse
	./13-SwitchCase
	./14-Loops
	./15-Functions
	./16-Methods
	./17-Defer
	./18-files
	./19-webRequests
	./20-Urls
	./6-Time
)
